import init.hidl.sensor.rc

service capsense_set_threshold /system/vendor/bin/capsense_set_threshold
	class core
	user system
	group system
	disabled
	oneshot

on init

   # Change ownership for HBM feature
   chown system system /sys/class/graphics/fb0/hbm
   # Change ownership for CABC feature
   chown system system /sys/class/graphics/fb0/cabc

on boot
    # capsensor fw path
    chown system system /sys/class/capsense/set_threshold

   # Change the ownership of display TE files for tcmds
   chown root oem_5004 /sys/class/graphics/fb0/te_test
   chown root oem_5004 /sys/class/graphics/fb0/te_enable
   chown root oem_5004 /sys/class/graphics/fb0/frame_counter
